In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'Desktop/CF/Achievement 4/Instacart Basket Analysis/02 Data/Original Data/customers.csv'

In [40]:
path_orig = r'Desktop/CF/Achievement 4/Instacart Basket Analysis'

In [4]:
df_cust = pd.read_csv(os.path.join(path), index_col = False)

# Data Wrangling

In [5]:
df_cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [7]:
df_cust.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [18]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [19]:
for col in df_cust.columns.tolist(): 
    weird = (df_cust[[col]].map(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len(df_cust[weird]) > 0:
        print (col)

First Name

In [21]:
df_cust['First Name'].dtype

dtype('O')

In [22]:
# After careful analysis I see that Will need to rename some columns. the mixed values of First Name are 
# the null values that I will take care of in my consistency check.

In [24]:
df_cust.rename(columns = {'Surnam' : 'Last Name'}, inplace = True )

In [25]:
df_cust.rename(columns = {'fam_status' : 'Marital_Status'}, inplace = True )

In [27]:
df_cust.rename(columns = {'n_dependants' : 'Dependants'}, inplace = True )

In [29]:
df_cust.rename(columns = {'STATE' : 'State'}, inplace = True )

In [30]:
df_cust.columns

Index(['user_id', 'First Name', 'Last Name', 'Gender', 'State', 'Age',
       'date_joined', 'Dependants', 'Marital_Status', 'income'],
      dtype='object')

# Data Consistency

In [31]:
df_cust.isnull().sum()

user_id               0
First Name        11259
Last Name             0
Gender                0
State                 0
Age                   0
date_joined           0
Dependants            0
Marital_Status        0
income                0
dtype: int64

In [ ]:
# So after doing some research on the null Values I decided to just change the name to unknown and change the data type to string. 
# If I were to drop the null value we would be losing 11,000 rows of potential Instacart loyal customers, So I decided against it.

In [33]:
df_cust['First Name'].fillna('Unknown', inplace=True)

In [34]:
df_cust.isnull().sum()

user_id           0
First Name        0
Last Name         0
Gender            0
State             0
Age               0
date_joined       0
Dependants        0
Marital_Status    0
income            0
dtype: int64

In [35]:
for col in df_cust.columns.tolist(): 
    weird = (df_cust[[col]].map(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len(df_cust[weird]) > 0:
        print (col)

In [36]:
# Now there are no mixed values and no Null values

In [37]:
df_dups = df_cust[df_cust.duplicated()]

In [38]:
# no Duplicates

In [39]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  int64
 1   First Name      206209 non-null  object
 2   Last Name       206209 non-null  object
 3   Gender          206209 non-null  object
 4   State           206209 non-null  object
 5   Age             206209 non-null  int64
 6   date_joined     206209 non-null  object
 7   Dependants      206209 non-null  int64
 8   Marital_Status  206209 non-null  object
 9   income          206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [41]:
df_cust.to_pickle(os.path.join(path_orig, '02 Data','Prepared Data', 'Customer_clean.pkl'))